// SASS document
// Colors
// --------------------------------------------------

/*// used font color for the entire document
$darkFontColor: rgb(86,86,90);*/

// used colors for the entire document
$darkColor: rgb(86,86,90);
$lightColor: hsl(0, 0.4%, 90%);

/*$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;*/
