// SASS document
// Mixins
// --------------------------------------------------
@import "colors";
/*@import "typography";*/
@import "variables";

@function imageRatio() {
    @return 75, 73;
}

@function calculateHeight($ratio, $width) {
    @return nth($ratio, 2)/nth($ratio, 1) * $width * 1px;
}

@mixin translate($seconds) {
    -webkit-transition: left $seconds cubic-bezier(.5,.85,.60,1);
    -moz-transition: left $seconds cubic-bezier(.5,.85,.60,1);
    -o-transition: left $seconds cubic-bezier(.5,.85,.60,1);
    transition: left $seconds cubic-bezier(.5,.85,.60,1);
}

@mixin delay($seconds) {
    -webkit-transition-delay: $seconds;
    -moz-transition-delay: $seconds;
    -o-transition-delay: $seconds;
    transition-delay: $seconds;
}

@mixin fontBasic {
    font-family: $gdgFontRegular;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: $darkFontColor;
}

// basic class to entend all regions (header, nav, section, aside and footer)
@mixin basic {
    position: absolute;
    overflow: hidden;
}
