// SASS document
// Mixins
// --------------------------------------------------
@import "colors";

@function imageRatio() {
    @return 75, 73;
}

@mixin translate($seconds) {
    -webkit-transition: left $seconds cubic-bezier(.5,.85,.60,1);
    -moz-transition: left $seconds cubic-bezier(.5,.85,.60,1);
    -o-transition: left $seconds cubic-bezier(.5,.85,.60,1);
    transition: left $seconds cubic-bezier(.5,.85,.60,1);
}

@mixin delay($seconds) {
    -webkit-transition-delay: $seconds;
    -moz-transition-delay: $seconds;
    -ms-transition-delay: $seconds;
    -o-transition-delay: $seconds;
    transition-delay: $seconds;
}

@mixin fontBasic {
    font-weight: 500;
    //-
    color: $darkFontColor;
}

// basic class to entend all regions (header, nav, section, aside and footer)
@mixin basic {
    position: absolute;
    overflow: hidden;
    //-
}
