// SASS document
// Mixins
// -------------------------------------------------

@import "colors";
@import "variables";

@function calculateHeight($ratio, $width) {
    @return nth($ratio, 2)/nth($ratio, 1) * $width * 1px;
}

// translate mixin
@mixin transition($var1, $seconds, $var3) {
    -webkit-transition: $var1 $seconds $var3;
    -moz-transition: $var1 $seconds $var3;
    -o-transition: $var1 $seconds $var3;
    transition: $var1 $seconds $var3;
}

@mixin transform($translateX, $translateY, $scaleX, $scaleY, $rotate) {
    -webkit-transform: translate($translateX, $translateY) scale($scaleX, $scaleY) rotate($rotate);
    -moz-transform: translate($translateX, $translateY) scale($scaleX, $scaleY) rotate($rotate);
    -ms-transform: translate($translateX, $translateY) scale($scaleX, $scaleY) rotate($rotate);
    -o-transform: translate($translateX, $translateY) scale($scaleX, $scaleY) rotate($rotate);
    transform: translate($translateX, $translateY) scale($scaleX, $scaleY) rotate($rotate);
}

// delay mixin
@mixin delay($seconds) {
    -webkit-transition-delay: $seconds;
    -moz-transition-delay: $seconds;
    -o-transition-delay: $seconds;
    transition-delay: $seconds;
}

// define the basic font for the whole document
@mixin fontBasic {
    font-family: $gdgFontRegular;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: $darkColor;
}

// basic class to entend all regions (header, nav, section, aside and footer)
@mixin basic {
    position: absolute;
}
