// SASS document
// Typography
// --------------------------------------------------

// own font face definition
@font-face {
    font-family: "GdG-Regular";
    src: url("../font/Roboto-Regular.ttf") format("truetype");
}

/*@font-face {
    font-family: "GdG-Bold";
    src: url("../font/Roboto-Bold.ttf") format("truetype");
}*/
