// SASS document
// Variables
// --------------------------------------------------

// aspect ratio width X height
$aspRatio: 4, 3;

// desired dimensions, the desired maximal width and height (percentage)
/*$desDimensions: 70;*/

// desired dimensions (pixel)
$desDimensions: 1024;

// fixed maximal width and height, do not change
$maxDimensions: 99; // 100% overshoots display height because of the border

// the used font for the entire document
$gdgFont: 400 1.4vw gdg, "sans-serif";
