@import "../modules/colors";
@import "../modules/mixins";
@import "../modules/variables";

body {
    margin: 50px 0;
    font: $gdgFont;
    /*background-color: azure;*/
}

// SASS calculation of the headings

@for $i from 1 through 6 {
    h#{$i} {
        @include fontBasic;
        font-size: 2em - (0.2 * $i);
    }
}

#intro {
    /*display: none;*/
    opacity: 1;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    //-
    position: absolute;
    z-index: 200;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#doku {
    /*display: none;*/
    /*opacity: 0;*/
    opacity: 1;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

// the frame holds the total content of the display
// it has automatic margins left and right to be centered in the total display width
// the width and height calculated according to the desired aspect ratio
// minimal width and height is fixed to 80px * aspect ratio
//              e.g. ratio of 4:3 :: 340px X 240px
.frame {
    position: relative;
    //-
    /*width: $desDimensions * 1vw;
    max-width: nth($aspRatio, 1)/nth($aspRatio, 2) * $maxDimensions * 1vh;
    min-width: nth($aspRatio, 1) * 80px;
    //-
    /*height: nth($aspRatio, 2)/nth($aspRatio, 1) * $desDimensions * 1vw;
    max-height: $maxDimensions * 1vh;
    min-height: nth($aspRatio, 2) * 80px;*/
    //-
    width: $desDimensions * 1px;
    max-width: $desDimensions * 1px;
    min-width: $desDimensions * 1px;
    //-
    height: calculateHeight($aspRatio, $desDimensions);
    max-height: calculateHeight($aspRatio, $desDimensions);
    min-height: calculateHeight($aspRatio, $desDimensions);
    //-
    margin: 0 auto;
    //-
    background-color: #fff;
    color: $darkFontColor;
    border: 1px solid $darkFontColor;
    overflow: hidden;
}

// the pane holds the different regions of the display (header, nav, section, aside and footer)
// it has an absolute position to ensure the proper display of the regions (position: relative)
// the margins on 10px is set to ensure a better view expirience
.pane {
    position: absolute;
    overflow: hidden;
    //-
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 30px;
    //-
    /*background-color: #ff007b;*/
}

// nested area in all regions to ensure proper paddings
.glass {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 10px;
}

input[type="button"] {
    background-color: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0 solid transparent;
    display: inline-block;
    cursor: pointer;
    color: $darkFontColor;
    font-size: 9px;
    padding: 2px 6px;
}

/*// at 1000px maximal width the display is fixed to 100% width
// fill screen width
@media (max-width: 1000px) {
    .frame {
        width: 100vw;
        height: nth($aspRatio, 2)/nth($aspRatio, 1) * 100 * 1vw;
    }
}

// over a calculated size the font-size is fixed to prevent changes and disorder
@media (min-width: $maxDimensions * 1vh) {
    body {
        font-size: 0.9em;
    }
}

@media (max-width: nth($aspRatio, 1) * 80px) {
    body {
        font-size: 0.4 * nth($aspRatio, 1) * 10px;
    }
}*/


/* SQUARED ONE */
.squaredOne {
	width: 28px;
	height: 28px;
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	margin: 20px auto;
	-webkit-box-shadow: inset 0 1px 1px white, 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 1px 1px white, 0 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0 1px 1px white, 0 1px 3px rgba(0,0,0,0.5);
	position: relative;
}

.squaredOne label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 4px;
	top: 4px;

	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,1);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,1);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #222 0, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0, #45484d 100%);
	background: -o-linear-gradient(top, #222 0, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0, #45484d 100%);
	background: linear-gradient(top, #222 0, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredOne label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	background: #00bf00;

	background: -webkit-linear-gradient(top, #00bf00 0, #009400 100%);
	background: -moz-linear-gradient(top, #00bf00 0, #009400 100%);
	background: -o-linear-gradient(top, #00bf00 0, #009400 100%);
	background: -ms-linear-gradient(top, #00bf00 0, #009400 100%);
	background: linear-gradient(top, #00bf00 0, #009400 100%);

	top: 2px;
	left: 2px;

	-webkit-box-shadow: inset 0 1px 1px white, 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 1px 1px white, 0 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0 1px 1px white, 0 1px 3px rgba(0,0,0,0.5);
}

.squaredOne label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredOne input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}