// SASS document
// Colors
// --------------------------------------------------

// used font color for the entire document
$darkFontColor: hsl(0, 0.4%, 50%);

// used colors for the entire document
$darkColor: hsl(0, 0.4%, 30%);
$lightColor: hsl(0, 0.4%, 90%);
