@import "../modules/mixins";

// the footer holds the quick navigation
footer {
    @include basic;
    width: 736px;
    left: -10px;
    height: 2%;
    top: 729px;
    font-size: 11px;
    //-
    input[type="text"] {
        float: left;
        // -
        width: 43px;
        text-align: center;
        color: $darkColor;
        font-size: inherit;
        border: none;
        margin: 2px 0;
    }
}
