@import "../modules/mixins";

// the footer holds the quick navigation
footer {
    @include basic;
    width: nth(imageRatio(), 1) * 1%;
    height: 2%;
    //-
    top: 98%;
    //-
    .glass {
        position: absolute;
        overflow: hidden;
        // -
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        // -
        padding: 0;

        input[type="text"] {
            float: left;
            // -
            width: 5%;
            text-align: center;
            color: $darkFontColor;
            border: none;
        }
    }
}
