// SASS document
// Header
// -------------------------------------------------

@import "../modules/mixins";

// the header region holds the title of the current picture/animation
header {
    @include basic;
    width: 100%;
    height: 5%;
    margin: 30px 0 0 0;

    > label {
        font-size: 16px;
    }
}
