// SASS document
// Header
// -------------------------------------------------

@import "../modules/mixins";
@import "../modules/variables";

// the header region holds the title of the current picture/animation
header {
    @include basic;
    width: 100%;
    max-width: ($paneWidth+1) * 1px; /* add one to conpense the border */
    height: 6%;
    margin: 30px 0 0 0;
    overflow: hidden;

    > label {
        font-size: 16px;
    }
}
