@import "../modules/mixins";
@import "../modules/colors";

nav {
    @include basic;
    width: 20%;
    height: 70.7%;
    z-index: 150;
    // -
    top: 15.7%;
    left: -18%;
    font-size: .95em;
    // -
    @include translate(.3s);
    // -
    > .navigation {
        position: relative;
        float: left;
        width: 90%;
        height: 100%;
        background-color: fade_out($darkColor, 0.1);

        .glass {
            #navscroll {
                width: 100%;
                height: 100%;
                text-decoration: none;
                color: $lightColor;

                ul li {
                    font-size: 0.95em;
                    cursor: pointer;
                    padding-top: 1%;

                    > details li {
                        padding-left: 10%;
                    }
                }
            }
        }
    }

    .navSlideBtn {
        width: 8%;
        height: 20%;
        float: left;



        label[for="nav-trigger"] {
            width: 100%;
            height: 100%;
            float: left;
            cursor: pointer;
            text-decoration: none;
            font-size: 0.95em;
            color: $lightColor;

            &:before {
                display: inline-block;
                content: " \25b6";
                -webkit-transform: translateX(40%) translateY(45%);
                -moz-transform: translateX(40%) translateY(45%);
                -ms-transform: translateX(40%) translateY(45%);
                -o-transform: translateX(40%) translateY(45%);
                transform: translateX(40%) translateY(45%);
            }

            &:after {
                display: inline-block;
                content: "Navigation ";
                -webkit-transform: translateX(-59%) translateY(-125%) rotate(-90deg);
                -moz-transform: translateX(-59%) translateY(-125%) rotate(-90deg);
                -ms-transform: translateX(-59%) translateY(-125%) rotate(-90deg);
                -o-transform: translateX(-59%) translateY(-125%) rotate(-90deg);
                transform: translateX(-59%) translateY(-125%) rotate(-90deg);
                -webkit-transform-origin: 60px 26px;
                -moz-transform-origin: 60px 26px;
                -ms-transform-origin: 60px 26px;
                -o-transform-origin: 60px 26px;
                transform-origin: 60px 26px;
            }
        }

        label[for="nav-trigger"].triggered {
            &:before {
                content: " \25c0";
            }
        }
        /*http://www.sitepoint.com/pure-css-off-screen-navigation-menu/*/
        /*> div {
            position: absolute;
            display: inline-block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: $lightColor;
            -webkit-transform-origin: 0 0;
            -moz-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
            -o-transform-origin: 0 0;
            transform-origin: 0 0;

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
                -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
                -ms-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
                -o-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
                transform: translateX(-50%) translateY(-50%) rotate(-90deg);
            }
        }*/
        background-color: fade_out($darkColor, 0.1);
    }

    .glass {
        float: left;
        padding: 15px 15px;
    }
}

.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

/*.nav-trigger:checked ~ nav {
    @include translate(.5s);

    .navTriggerText {
        left: 18%;
        background-color: $brand-danger;

        &:before {
            display: inline-block;
            content: " \25c0";
            -webkit-transform: translateX(50%) translateY(10%);
            -moz-transform: translateX(50%) translateY(10%);
            -ms-transform: translateX(50%) translateY(10%);
            -o-transform: translateX(50%) translateY(10%);
            transform: translateX(50%) translateY(10%);
        }
    }
}*/

/*nav:hover {
    left: 0;
    @include translate(.5s);
}*/

#descriptionNavigation {
    @include basic;
    width: 21%;
    height: 5%;
    //-
    top: 87.9%;
    right: 0;
    left: 75%;
    // -
    /*padding: 20%;*/
    position: absolute;
    margin: 0 25px;
    padding: .5% 0;
    border-top: 1px solid $darkFontColor;
    color: $darkFontColor;
    // -
}
