// SASS document
// Navigation
// -------------------------------------------------

@import "../modules/mixins";
@import "../modules/colors";
$NavWidth: 300px;
$NavButtonWidth: 16px;
$navPadding: 5px;
$NavScrollWidth: $NavWidth - $NavButtonWidth - (2*$navPadding);
$NavHoverFade: 0.90;

nav {
    @include basic;
    width: $NavWidth;
    height: 70.7%;
    z-index: 150;
    top: 96px;
    left: -$NavScrollWidth - (2*$navPadding);

    @include transition(left, .3s, cubic-bezier(.5,.85,.60,1));


    > .navigation {
        position: relative;
        float: left;
        width: $NavScrollWidth;
        height: 531px;
        padding: 5px;
        font-size: 11px;
        background-color: fade_out($darkColor, 0.05);

        #navscroll {
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: $lightColor;

            ul li {
                cursor: pointer;
                padding-top: 1%;
                /*white-space: nowrap;*/
                summary:hover {
                    background-color: fade_out($lightColor, $NavHoverFade);
                }

                summary:focus {
                    outline: 0;
                }

                > details li {
                    padding-left: 10%;

                    &:hover {
                        background-color: fade_out($lightColor, $NavHoverFade);
                    }
                }
            }
            /*summary:hover {
                background-color: fade_out($lightColor, $NavHoverFade);
            }*/
        }
    }

    .navSlideBtn {
        float: left;
        width: $NavButtonWidth;
        height: 100px;

        label[for="navTrigger"] {
            float: left;
            width: 100%;
            height: 100%;
            cursor: pointer;
            text-decoration: none;
            font-size: 11px;
            color: $lightColor;

            &:before {
                display: inline-block;
                content: url('data:image/svg+xml;base64,77u/PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iSVNPLTg4NTktMSIgPz4NCjwhRE9DVFlQRSBzdmc6c3ZnIFBVQkxJQw0KICAgICItLy9XM0MvL0RURCBYSFRNTCAxLjEgcGx1cyBNYXRoTUwgMi4wIHBsdXMgU1ZHIDEuMS8vRU4iDQogICAgImh0dHA6Ly93d3cudzMub3JnLzIwMDIvMDQveGh0bWwtbWF0aC1zdmcveGh0bWwtbWF0aC1zdmcuZHRkIj4NCgkNCjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayINCgl3aWR0aD0iNXB4IiBoZWlnaHQ9IjhweCIgPg0KDQo8IS0tIA0KCUF1dGhvcjogVG9iaWFzIExhaG1hbm4NCglDb3Vyc2U6IEdydW5kbGFnZW4gZGVyIEdlc3RhbHR1bmcNCglVbml2ZXJzaXR5IG9mIFVsbQ0KCUphbnVhcnkgMjAxNg0KLS0+DQoNCjx0aXRsZT5BcnJvdzwvdGl0bGU+DQoNCjxwb2x5Z29uIHBvaW50cz0iMCwwIDUsNCAwLDgiIHN0eWxlPSJmaWxsOiNlNmU1ZTU7IiAvPg0KDQo8L3N2Zz4=');
                font-size: 13px;
                @include transform(100%, 32%, 1.0, 1.0, 0);
            }

            &:after {
                display: inline-block;
                content: "Navigation ";
                @include transform(-68%, -100%, 1.0, 1.0, -90deg);
                -webkit-transform-origin: 60px 26px;
                -moz-transform-origin: 60px 26px;
                -ms-transform-origin: 60px 26px;
                -o-transform-origin: 60px 26px;
                transform-origin: 60px 26px;
            }
        }

        label[for="navTrigger"].triggered {
            &:before {
                @include transform(100%, 32%, 1.0, 1.0, 180deg);
            }
        }

        background-color: fade_out($darkColor, 0.05);
    }
}

.navTrigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
