@import "../modules/mixins";
@import "../modules/colors";

nav {
    @include basic;
    width: 20%;
    height: 70%;
    z-index: 150;
    // -
    top: 15%;
    left: -18%;
    /*left: 0;*/
    font-size: 0.8em;
    // -
    @include translate(.3s);
    @include delay(1.5s);
    // -
    > .navigation {
        position: relative;
        float: left;
        width: 90%;
        height: 100%;
        background-color: fade_out($darkColor, 0.1);
        /*.scroll-pane {*/
        .glass {
            /*overflow-x: hidden;
            overflow-y: scroll;*/
            #navscroll {
                height: 100%;
            }

            a {
                text-decoration: none;
                color: $lightColor;
                display: block;
                width: 100%;
                /*height: 120%;*/
            }
        }
    }

    .navSlideBtn {
        width: 8%;
        height: 15%;
        float: left;

        > div {
            position: relative;
            display: inline-block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: $lightColor;
            -webkit-transform-origin: 0 0;
            -moz-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
            -o-transform-origin: 0 0;
            transform-origin: 0 0;

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
                -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
                -ms-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
                -o-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
                transform: translateX(-50%) translateY(-50%) rotate(-90deg);
            }
        }

        background-color: fade_out($darkColor, 0.1);
    }

    .glass {
        float: left;
    }
}

nav:hover {
    left: 0;
    @include translate(.5s);
}

#descriptionNavigation {
    @include basic;
    width: 21%;
    height: 5%;
    //-
    top: 88%;
    right: 0;
    left: 75%;
    // -
    /*padding: 20%;*/
    position: absolute;
    margin: 0;
    padding: .5% 0;
    border-top: 1px solid $darkFontColor;
    color: $darkFontColor;
    // -
}
