// SASS document
// Section
// -------------------------------------------------

@import "../modules/mixins";
@import "../modules/variables";

// the section is the centered area of the display
// it holds the pictures and animation
// main area
section {
    @include basic;
    top: 86px;
    right: 25%;
    left: 0;

    #contentImg {
        display: block;
        height: 100%;
        max-width: $paneWidth * 1px;
        max-height: calculateHeight($aspRatio, $paneWidth);
        border: 1px solid black;
    }

    #canvas {
        display: none;
        width: 100%;
        height: 100%;
        max-width: $paneWidth * 1px;
        max-height: calculateHeight($aspRatio, $paneWidth);
        border: 1px solid black;
    }

    #contentAnim {
        display: none;
        /*@import "../vendor/animation.scss";*/
    }

    #flashCanvas {
        border: 1px solid black;
    }
}
