@import "../modules/mixins";
@import "../modules/variables";

// the section is the centered area of the display
// it holds the pictures and animation
// main area
section {
    @include basic;

    $rat: imageRatio();
    width: nth($rat, 1) * 1%;
    height: nth($rat, 2) * 1%;
    //-
    top: 15%;
    right: 25%;
    left: 0;
    //-
    .glass {
        padding: 0;

        #contentImg {
            display: block;
            height: 100%;
            max-width: $paneWidth * 1px;
            max-height: calculateHeight($aspRatio, $paneWidth);
            /*margin: 0 auto;*/
        }

        #canvas {
            display: none;
            width: 100%;
            height: 100%;
            max-width: $paneWidth * 1px;
            max-height: calculateHeight($aspRatio, $paneWidth);
        }

        #contentAnim {
            display: none;
            @import "../vendor/animation.scss";
        }
    }
}
