// SASS document
// Colors
// -------------------------------------------------

// used colors for the entire document
$color-primary-0: #2D882D;
$color-primary-1: #88CC88;
$color-primary-2: #55AA55;
$color-primary-3: #116611;
$color-primary-4: #004400;
$color-primary-5: #92919F;
$color-primary-6: #8D8C94;

$color-black: #000;
$color-white: #fff;
