// SASS document
// Basic
// -------------------------------------------------

@import "../modules/colors";
@import "../modules/variables";

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    /*display: block;*/
    padding: 1%;
    /*width: 100%;*/
}

body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    font-family: $gdgFontRegular;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: .1px;
    color: #56565a;
}


table {
    text-align: left;
    width: 100%;
    /*border: 5px;*/
    border: 1px ridge $darkColor;

    td, th {
        display: table-cell;
        border: 1px dotted $darkColor;
    }
}

// SASS calculation of the headings
@for $i from 1 through 6 {
    h#{$i} {
        /*@include fontBasic;*/
        font-size: 23 - (2 * $i) * 1px;
        /*margin: 100px 0 0 50px;*/
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 100%;
}

/*li {
    list-style-position: inside;
    border-bottom: 1px solid $darkColor;
}*/

/*li:before {
    content: "•";
    padding-right: 8px;
    color: $bullets;
}*/

/*li:last-child {
    border: none;
}*/

li a {
    text-decoration: none;
    color: #000;
    display: block;
    /*width: 200px;*/
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}

li a:hover {
    background: #f6f6f6;
}
