// SASS document
// Footer
// -------------------------------------------------

@import "../modules/colors";
@import "../modules/variables";
@import "../modules/mixins";

// the footer holds the quick navigation
footer {
    border: 1px solid $darkColor;
    position: relative;
    width: $desDimensions * 1px;
    max-width: $desDimensions * 1px;
    min-width: $desDimensions * 1px;
    height: calculateHeight((25, 1), $desDimensions);
    max-height: calculateHeight((25, 1), $desDimensions);
    min-height: calculateHeight((25, 1), $desDimensions);
    margin: 10px auto;
    background-color: $lightColor;
    padding: 0;

    > .footer-area {
        margin: 20px;
        width: 20%;
        display: inline-block;
        float: left;
    }
}
