// SASS document
// Navigation
// -------------------------------------------------

@import "../modules/colors";
@import "../modules/variables";
@import "../modules/mixins";

nav {
    width: $desDimensions * 1px;
    max-width: $desDimensions * 1px;
    min-width: $desDimensions * 1px;
    height: auto;
    margin: 10px auto;
    color: $darkColor;
    padding: 0;
    background: $lightColor;
    @include centering;
}

.nav-list {
    display: table;
    margin: 0 auto;
}

.nav-item {
    float: left;
    width: 24.6%;
    height: 70px;
    background: $lightColor;
    margin: 1px;
    border: solid $darkColor 1px;

    a {
        display: block;
        padding: 15px 20px;
        /*color: $lightColor;*/
        /*background-image: url(../../asset/img/grain.svg),*/
        /*radial-gradient(ellipse farthest-corner at 1000px 10px, $darkColor, $lightColor);*/
        /*background-color: $lightColor;*/
        /*background-repeat: repeat;*/
    }

    li:before {
    }

    :first-child a {
        /*border-radius: 5px 0 0 5px;*/
    }

    :last-child a {
        /*border-radius: 0 5px 5px 0;*/
    }

    a:hover {
        background: $lightColor;
    }
}
