// SASS document
// Navigation
// -------------------------------------------------

@import "../modules/colors";

.nav {
    background-color: $color-primary-2;
    position: relative;
    /*display: inline-block;*/
    height: 70px;
    font-size: 14px;
    font-weight: 900;
}

.nav-list {
    padding: 5px;
    margin: 5px;
}

.nav-item {
    list-style: none;
    margin: 2px;
    float: left;
    *display: inline;
    zoom: 1;
    width: 24%;

    a {
        display: block;
        padding: 15px 20px;
        color: $color-white;
        background: $nav-c;
    }

    li:before{

    }

    :first-child a {
        border-radius: 5px 0 0 5px;
    }

    :last-child a {
        border-radius: 0 5px 5px 0;
    }

    a:hover {
        background: $nav-c2;
    }
}
