// SASS document
// Section
// -------------------------------------------------

@import "../modules/colors";
@import "../modules/variables";
@import "../modules/mixins";

// the section is the centered area of the display
// it holds the pictures and animation
// main area
section {
    position: relative;
    width: $desDimensions * 1px;
    max-width: $desDimensions * 1px;
    min-width: $desDimensions * 1px;
    height: calculateHeight($aspRatio, $desDimensions);
    max-height: calculateHeight($aspRatio, $desDimensions);
    min-height: calculateHeight($aspRatio, $desDimensions);
    margin: 250px auto;
    padding: 0;
    background-color: #fff;
    color: $darkColor;
    border: 1px solid $darkColor;
    overflow: hidden;
    @include centering;
}
